@import "~bulma/css/bulma.css";

.custom-select-option {
    padding: 0.5rem;
    border-radius: 5px;
}

.custom-select-option:hover {
    background-color: whitesmoke;
}

.custom-select-option--focused {
    background-color: whitesmoke;
}

.custom-select-option--selected {
    background-color: palegreen;
}